.form__leabelText {
    display: inline-block;
    max-width: 90px;
    width: 100%;
    padding: 2px 5px;
    margin-left: 20px;
}

.form__field {
    border: 1px solid #666;
    padding: 5px 10px;
    max-width: 200px;
    width: 100%;
    border-radius: 5px;
    font-size: 18px;
    text-align: right;
}