.form {
    max-width: 560px;
    min-width: 400px;
    margin: 0 auto;
    padding: 0 10px;
}

.form__fieldset {
    border: black 3px solid;
    padding: 10px 20px;
    border-radius: 5px;
    margin: 20px 0px;
    background-color: white;
    box-shadow: 0px 0px 50px 20px #000000;
}

.form__field {
    border: 1px solid #666;
    padding: 5px 10px;
    max-width: 200px;
    width: 100%;
    border-radius: 5px;
    font-size: 18px;
    text-align: right;
    margin-bottom: 10px;
}

.form__field--select.form__field--select {
    background-color: white;
}
.form__button {
    max-width: 500px;
    width: 100%;
    border: none;
    background-color: hsl(210, 65%, 20%);
    color: white;
    font-size: 20px;
    padding: 10px;
    border-radius: 5px;
    border: black 3px solid;
    margin-bottom: 20px;
}

.form__button:hover {
    cursor: pointer;
    background-color: hsl(210, 65%, 30%);
}

.form__button:active {
    background-color: hsl(210, 65%, 40%);
}