.form__button {
    max-width: 500px;
    width: 100%;
    border: none;
    background-color: hsl(210, 65%, 20%);
    color: white;
    font-size: 20px;
    padding: 10px;
    border-radius: 5px;
    border: black 3px solid;
    margin-bottom: 20px;
}

.form__button:hover {
    cursor: pointer;
    background-color: hsl(210, 65%, 30%);
}

.form__button:active {
    background-color: hsl(210, 65%, 40%);
}