html {
  box-sizing: border-box;
}

*, ::after, ::before {
  box-sizing: inherit;
}

body {
  background-color: hsl(0, 0%, 15%);
  font-family: "Lato", sans-serif;
  background-image: url("../public/images/waluta.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}