.form__field {
    border: 1px solid #666;
    padding: 5px 10px;
    max-width: 200px;
    width: 100%;
    border-radius: 5px;
    font-size: 18px;
    text-align: right;
}

.form__field--select.form__field--select {
    background-color: white;
}